html, body {
    
 /*   font-family: "Nunito", sans-serif; */ 
    height: 100%;
}

#mainNavbar {
    background-color: #4AAAA6;
}

#mainNavbar .navbar-brand {
    color: white;
    letter-spacing: 1.2px;
    font-size: 22px;
    font-weight: 500;
}

#mainNavbar .nav-link {
    color: white;
    letter-spacing: 1.2px;
    font-weight: 500;
}

#mainNavbar a.nav-link:hover,
#mainNavbar a.nav-link.active {
    color: #245956;
}

.my-pic {
    text-align: right;
}






/*
.navbar {
    margin: 0;
    padding: 20px 60px;
    background-color: #4AAAA6;
    color: white;
    height: 60px;
}

/*






*/

.intro {
    padding-top: 260px;
}

.splash {
    padding: 50px;
    font-size: 26px;
}

.spaced-1 {
    
}

.spaced-2 {
    
}

.lead {
    margin: 0 40px;
}

.reg {
    padding-top: 40px;
    padding-bottom: 40px;
}

.contrast {
    background-color: #4AAAA6;
    color: white;
    text-align: center;
}

.jus {
    text-align: justify;
}

.btm-border {
    border-bottom: 1px solid white; 
}

.new-fontsz {
    font-size: 24px;
}

.icons {
    font-size: 24px;
}

.vspacer {
    margin-bottom: 50px;
}

.jumbotron {
    bottom: 0;
    margin-top: 70px;
    padding-top: 70px;
    height: 250px;
}

.btn-contrast {
    background-color: #4AAAA6;
    color: white;
    border: 2px solid white;
    text-align: center;
    width: 160px;
}

.btn-contrast:hover {
    background-color: white;
    color: #4AAAA6;
}

.btn-li {
    background-color: #0077B5;
    color: white;
}

.btn-gh {
    background-color: black;
    color: white;
}

.fa-html5,
.fa-layer-group,
.fa-android {
    color: white;
    font-size: 4rem;
    text-shadow: 5px 5px 0 #245956;
}

.img-border {
    box-sizing: border-box;
    border: 2px solid gray;
    width: 330px;
}

.card-border {
    box-sizing: border-box;
    width: 330px;
}

.card-img-top {
    box-sizing: border-box;
    border: 2px solid gray;
    width: 250px;
    margin: 0;
    padding: 0;
}

.reference-item {

    margin: 20px;
    padding: 0;
}


.reference a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
  
.reference h3 {
    font-weight: 400;
}
  
.reference img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.reference .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 92%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    padding: 0 20px;
}
  

.reference .overlay p {
    color: #fff;
}

.reference .reference-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
/*
.reference:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
*/
.reference:hover .overlay {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
  



h4 {
    font-size: 20px;
}


h5 {
    text-align: center;
}

.app-border {
    box-sizing: border-box;
    width: 250px;
}

.card-body {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

h6 {
    line-height: 20px;
    margin: 0 15px;
    padding: 0;
}

#cover {
    background-image: url(../images/northern-lights.jpg);
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

#carousel, #skills, #about #portfolio{
    height: auto;
}

#carousel-background {
    color: black;
    position: relative;
}

h1 {
    font-weight: normal;
    letter-spacing: 1.5px;
    text-align: center;
    padding-top: 60px;
}

.button-group {
    text-align: center;
}

.btn-work {
    background-color: rgba(0,0,0,0);
    border: 2px solid #4AAAA6;
    color: #4AAAA6;
    margin: 10px 20px;
    width: 103px;
}

.btn-work:hover {
    background-color: #4AAAA6;
    color: white;
    margin: 10px 20px;
    width: 103px;
}



.onActive {
    background-color: #4AAAA6;
    color: white;
    margin: 10px 20px;
    width: 103px;
    outline: none;
}

#portfolio {
    min-height: 100%;
}

.app-link {
    color: #4AAAA6;
    font-weight: 600;
}

.app-link:hover {
    color: #245956;
    font-weight: 600;
}

#about-background {
    position: relative;
}

.c-img-overlay {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 10;
}

.s-img-overlay {
    position: absolute;
    top: 1px;
    left: 10px;
    z-index: 10;
}

.p-img-overlay {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 10;
}

.a-img-overlay {
    position: absolute;
    top: 1%;
    left: 2%;
    z-index: 10;
}

/*
#ed-icon {
    height: 200px;
	padding: 10px;
}
*/

.fixed-width {
    width: 250px;
}


#welcome {
    padding-top: 50px;
}

#email-form {
    visibility: hidden;
    background-color: white;
    opacity: 0.9;
    color: black;
    border: 2px solid green;
    margin: 0px, 30px;
}

.section-content {
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#contact-info {
    font-size: 24px;
}

.container-lg {
    margin-left: 6rem;
    margin-right: 6rem;
}

#skills {
    background-image: url(../images/fresh_snow.png);
    background-size: cover;
    background-repeat: repeat;
    height: auto;

}

#portfolio {
    background-image: url(../images/fresh_snow.png);
    background-size: cover;
    background-repeat: repeat;
    height: auto;
}

#prev-next-btn {
    background-color:  #7176B5;
}

#skill-cards {
    margin-top: 20px;
}

#about {
    background-image: url(../images/fresh_snow.png);
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    margin: 3rem;
    padding: 1rem;
    width: 25rem;
}

